<center><h1>PERMANENT AND CORRECTIVE COSMETICS</h1></center>

<div class="full row">

    <div class="col-md-3 col-md-offset-3">

        <p>
            <strong>Hi, my name is Jessica Haney</strong> <br>
            Now offering Permanent &amp; Corrective Cosmetics!

            I have been working in the tattoo industry for over 20 years. I have been an Artist my entire life. I love tattooing in a realism style, bringing that to the face and body I am able to create realistic and subtle changes to your already beautiful face.

            Permanent &amp; Corrective Cosmetics is a wonderful and important progression in my career. I am looking forward to using my skills in art and tattooing to help people feel confident and beautiful.
        </p>

        <h4>Get in touch!</h4>
        <p> <strong>Phone: </strong> 330-343-8500 </p>
        <p> <strong>Email:</strong> jessicainks@mymuseumtattoostudio.com </p>
        <p> <strong>Hours:</strong> Wednesday - Saturday 12pm - 8pm </p>
        <br />
        <h4>Connect with me!</h4>
        <ul style="text-align:left;font-size:32px;">
            <li style="display:inline-block;"><a title="Facebook" href="https://www.facebook.com/My-Museum-Tattoo-Studio-225718684121367/"><i class="fa fa-facebook"></i></a></li>

            <li style="display:inline-block;"><a title="Instagram" href="https://www.instagram.com/mymuseumtattoostudio/"><i class="fa fa-instagram"></i></a></li>

        </ul>
       
    </div>

    <div class="col-md-3" style="text-align:center;">

        <img src="~/images/UjSVjess.jpg" alt="Tattoo Artist" height="500">


    </div>

</div>